/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--s-font-primary);
}

img {
    max-width: 100%;
}

h2,
h3,
h5,
p {
    color: var(--s-font-secondary);
}

a {
    color: var(--s-font-secondary);
    text-decoration: none;
}

/* #endregion common */


/* #region colors */
:root {
    --s-sidebar: #000000;
    --s-main-top: #080b12;
    --s-main:#141922;
    --s-footer: #282828;
    --s-font-primary: #585858;
    --s-font-secondary: #ffffff;
    --s-effect-highlighted: #abfd2f;
}
/* #endregion colors */


/* #region debug */



/* #endregion debug */


/* #region utilities */
.none {
    display: none;
}

.overflow {
    overflow: auto;
}

.relative {position: relative;
    top: 0;
    left: 0;
}

.text_center{
    text-align: center;
}

.d_flex {
    display: flex;
}


.container_lg {
    max-width: 80%;
    width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col_"] {
    padding: 0.5rem;
}

.col_12 {
    width: 100%;
}

.col_6 {
    width: 50%;
}

.col_3 {
    width: calc(100% / 12 * 3);
}

/* #region utilities */


/* #region main */
.site_main {
    display: flex;
}

/* ########### SITE MAIN ########### */

.side_bar {
    height: calc(100vh - 90px);
    width: 22px;
    background-color: var(--s-sidebar);
}

.side_bar [class^="col_"] {
    padding: 0.5rem 0.1rem;
}

.side_bar span {
    vertical-align: sub;
}

.side_bar #playlist .col_s_3 {
    background-color: var(--s-font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_bar .col_s_3 i {
    color: var(--s-sidebar);
}

.container_s.none.overflow {
    max-height: 330px;
}

#app_download {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.side_bar #download .col_s_3 {
    text-align: end;
    padding-top: 0.9rem;
}

.side_bar #download .col_s_3 img {
    height: 1rem;
}

#download .col_s_3,
#download .col_s_9 {
    border-bottom: 1px solid;
}

.side_bar #account .col_s_3 img {
    border-radius: 50%;
    background-color: var(--s-font-primary);
    height: 1.6rem;
    padding: 0.21rem;
}

/* ########## SIDE BAR ############ */

.main_top {
    height: 70px;
    width: calc(100vw - 22px);
    background-color: var(--s-main-top);
    font-size: 0.6rem;
    align-items: center;
    justify-content: end;
}

.main_top > a {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--s-font-secondary);
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* ######### MAIN TOP ############# */

.main {
    height: calc(100vh - 160px);
    width: calc(100vw - 22px);
    background-color: var(--s-main);
}

.main .row {
    padding-top: 0.3rem;
    padding-left: 0.3rem;
}

#categorie {
    justify-content: center;
}

#categorie [class^="relative"] {
    margin-bottom: 0.8rem;
    text-align: center;
}

.main span {
    font-size: 0.6rem;
}

.effect {
    border: 1px solid var(--s-effect-highlighted);
    width: 20%;
    position: absolute;
    bottom: -2px;
    left: 40%;
   display: none;
}

[class^="relative"]:hover .effect {
    display: block;
}


.container_y {
    height: 585px;
    overflow-y: auto;
}

.circle img {
    border-radius: 50%;
}

/* ############### MAIN ############# */

/* #endregion main */


/* #region footer */
.site_footer {
    height: 90px;
    background-color: var(--s-footer);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
/* #endregion footer */


/* #region responsive */
@media screen and (min-width: 425px) {
    .no_none {
        display: none;
    }

    .none {
        display: block;
    }

    .col_s_10 {
        width: calc(100% / 12 * 10);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .col_s_4 {
        width: calc(100% / 12 * 4);
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_2 {
        width: calc(100% / 12 * 2);
    }

    .container_s {
        width: 90%;
        margin: auto;
    }

    .side_bar {
        width: 140px;
    }

    .main_top {
        width: calc(100vw - 140px);
    }

    .main {
        width: calc(100vw - 140px);
    }

}


@media screen and (min-width: 768px) {
    .side_bar {
        width: 200px;
    }

    .main_top {
        width: calc(100vw - 200px);
    }

    .main {
        width: calc(100vw - 200px);
    }

    .col_md_2-4 {
        width: calc(100% / 12 * 2.4);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
    
}

@media screen and (min-width: 1200px) {
    #categorie span{
        font-size: 1rem;
    }
    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .container_y {
        height: 650px;
    }

}

/* #endregion responsive */